<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/new"><button>New message</button></a>
    <% for (let index = 0; index < messages.length; index++) { %>
        <ul>
            <li><%=messages[index].user%> 
                <a href="/details/<%=index%>"><button>Details</button></a>
            </li>
            <li><%=messages[index].text%></li>
            <li><%=messages[index].added%></li>
        </ul>
    <% } %>
</body>
</html>